= simple_form_for(transaction) do |form|
  = form.input :user
  = form.input :description
  = form.input :type
  = form.input :price_cents
  .form-group
    - if transaction.persisted?
      .float-right
        = link_to 'Destroy', transaction, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' }
    = form.submit class: 'btn btn-primary'
    - if transaction.persisted?
      = link_to "Cancel", transaction, class: "btn btn-link"
    - else
      = link_to "Cancel", transactions_path, class: "btn btn-link"
